*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #923cb5;
  background: radial-gradient(#9e41c0, #2f0a3d 90%);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

.links-container {
  margin-bottom: 3rem;
}
